@page "/edituserinfo/{UserId}"
@using BlazorDemoPOC.Data
@inherits OwningComponentBase<UserService>
@inject UserService objUserService
@using Blazored.Toast
@using Blazored.Toast.Services
@inject IToastService toastService
@using Blazored.Toast.Configuration
@inject NavigationManager NavigationManager

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

<EditForm Model="@objuser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>
                                        <img class="card-img-top imageThumbnail" src="icons/user.png" />
                                        <b>Update User Details</b>
                                    </h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="FirstName" class="form-label font-weight-bold"><b>First Name :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="firstname" type="text" @bind="@user.FirstName" maxlength="10" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.FirstName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="LastName" class="form-label font-weight-bold"><b>Last Name :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="lastname" type="text" @bind="@user.LastName" maxlength="10" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.LastName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="Gender" class="form-label font-weight-bold"><b>Gender :</b></label>
                            </div>
                            <div class="col-md-6">
                                <select @bind="@user.Gender" class="form-control" >
                                    <option value=""></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Gender)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="Department" class="form-label font-weight-bold"><b>Department :</b></label>
                            </div>
                            <div class="col-md-6">
                                <select @bind="@user.Department" class="form-control">
                                    <option value=""></option>
                                    <option value="Computer Engineering">Computer Engineering</option>
                                    <option value="Civil Engineering">Civil Engineering</option>
                                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                                    <option value="Electrical Engineering">Electrical Engineering</option>
                                    <option value="Information and Technology">Information and Technology</option>
                                    <option value="Electronics and Communication">Electronics and Communication</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Department)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="Username" class="form-label font-weight-bold"><b>Username :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="username" type="text" @bind="@user.Username" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Username)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="Password" class="form-label font-weight-bold"><b>Password :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="password" type="password" @bind="@user.Password" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Password)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right">@*@onclick="()=>EditUser(user)"*@
                                <input id="Submit1" class="btn btn-block btn-success" type="submit" value="Update" @onclick="HandleValidSubmit"  />
                            </div>
                            <div class="col-md-6 text-right">
                                <input id="Button1" class="btn btn-block btn-warning" type="button" value="Cancel" @onclick="BackToViewUser" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {

    List<UserInfo> users;

    UserInfo user;

    UserInfo objuser = new UserInfo();

    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string UserId { get; set; }

    protected override void OnParametersSet()
    {
        //the param will be set now
        Id = UserId;
    }

    protected override void OnInitialized()
    {
        Id = UserId;
        user = Service.GetUser(Id);
    }

    void BackToViewUser()
    {
        NavigationManager.NavigateTo("/viewusers");
    }

    void UpdateUser(UserInfo u)
    {
        try
        {
            objuser.UserId = u.UserId;
            Service.Edit(user);
            users = Service.GetUser();
            NavigationManager.NavigateTo("/viewusers");
            toastService.ShowSuccess("User Details Updated Successfully!", "Congratulations!");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Failed!");
        }
    }
    private void EditUser(UserInfo u)
    {
        try
        {
            if (u.FirstName == "" || u.LastName == "" || u.Gender == "" || u.Department == "" || u.Username == "" || u.Password == "")
            {
                toastService.ShowError("All fields are mandatory!");
            }
            else
            {
                UpdateUser(u);
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Failed!");
        }
    }
    private void HandleValidSubmit()
    {

        objuser.FirstName = user.FirstName;
        objuser.LastName = user.LastName;
        objuser.Gender = user.Gender;
        objuser.Department = user.Department;
        objuser.Username = user.Username;
        objuser.Password = user.Password;
        EditUser(user);
    }
    //private void HandleValidSubmit(UserInfo u)
    //{
    //    try
    //    {
    //        if (u.FirstName == "" || u.LastName == "" || u.Gender == "" || u.Department == "" || u.Username == "" || u.Password == "")
    //        {
    //            toastService.ShowError("All fields are mandatory!");
    //        }
    //        else
    //        {
    //            UpdateUser(u);
    //            NavigationManager.NavigateTo("/viewusers");
    //        }
    //    }
    //    catch (Exception ex)
    //    {
    //        toastService.ShowError(ex.Message, "Failed!");
    //    }
    //}

}
