@page "/login"
@inherits OwningComponentBase<UserService>
@using BlazorDemoPOC.Data
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@inject IToastService toastService
@inject UserService objUserService
@inject NavigationManager NavigationManager
@inject IToastService toastService


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>


<EditForm Model="@objuser" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img class="card-img-top imageThumbnail2" src="icons/user-login.jpg" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3><b>User Login</b></h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="username" class="form-label font-weight-bold"><b>Username :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="username" type="text" @bind="@objuser.Username" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Username)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="password" class="form-label font-weight-bold"><b>Password :</b></label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="password" type="password" @bind="@objuser.Password" />
                            </div>
                            <div class="col-md-3">
                                <ValidationMessage For="@(() => objuser.Password)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <input id="btn_Login" class="btn btn-block btn-info" type="submit" value="Login" @onclick="LoginUser" />
                            </div>
                            <div class="col-md-6 text-center">
                                <input class="btn btn-block btn-success" id="btn_Register" type="button" value="Register" @onclick="GoToRegister" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    List<UserInfo> users;

    UserInfo objuser = new UserInfo();

    protected override void OnInitialized()
    {
        //users = Service.GetUser();
    }

    void GoToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private void LoginUser()
    {
        bool isLoginSuccess = false;
        try
        {
            if (objuser.Username == null || objuser.Password == null)
            {
                toastService.ShowError("All fields are mandatory!");
            }
            else
            {

                isLoginSuccess = objUserService.UserLogin(objuser);
                if (isLoginSuccess)
                {
                    NavigationManager.NavigateTo($"/hellouserpage/{objuser.Username}");
                    toastService.ShowSuccess("Login Success!");
                }
                else
                {
                    toastService.ShowError("Invalid Crendentials!");
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Failed!");
        }
    }
}